@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* -------------------- */
/* Custom properties    */
/* -------------------- */

:root {
    --clr-dark: 218 44% 22%;
    --clr-accent: 216 15% 48%;
    --clr-light: 212 45% 89%;
    --clr-white: 0 0% 100%;
    --fs-400: 0.9375rem;
    --fs-600: 1.375rem;
    --ff-regular: "Outfit", sans-serif;
    --letter-spacing-1: 0.2px;
    --letter-spacing-2: 0;
    --spacing-1: 2.5rem;
    --spacing-2: 1.5rem;
    --spacing-3: 1rem;
}


/* *************** */
/* Resets          */
/* *************** */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
picture,
figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }


/* set up the body */
body {
    min-height: 100vh;
    background: hsl(var(--clr-light));
    color: hsl(var(--clr-dark));
    font-size: var(--fs-400);
    font-family: var(--ff-regular);
    line-height: 1.4rem;
    letter-spacing: var(--letter-spacing-1);
}


/* -------------------- */
/* Utility classes      */
/* -------------------- */

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-600 {
    font-size: var(--fs-600);
}

.text-bold {
    font-weight: 700;
}

.text-accent {
    color: hsl(var(--clr-accent));
}

.container {
    max-width: 80rem;
    padding-inline: 2em;
    margin-inline: auto;
}

.grid-container {
    display: grid;
    place-items: center;
}

.mx-auto {
    margin-inline: auto;
}

.flow > * + * {
    margin-top: 1.5rem;
}


/* -------------------- */
/* Components           */
/* -------------------- */

.card {
    width: 23em;
    padding: var(--spacing-3);
    padding-bottom: var(--spacing-1);
    background: hsl(var(--clr-white));
    border-radius: 20px;
    box-shadow: 0 10px 40px hsl(220, 15%, 55%);
}

.card > header > img {
    border-radius: 10px;
    margin-bottom: var(--spacing-2);
}

.card > h1 {
    margin-bottom: var(--spacing-3);
}

.card > h1,
.card > section {
    padding: 0 var(--spacing-2);
}
